.archieved-nav{
    height: 10vh;
    display: flex;
    padding-left: 20px;
    align-items: center;
}

.archieved-app-logo{
    width: 130px;
}

.remaining-half{
    min-height: 90vh;
    background-color: antiquewhite;
    padding: 30px;
}

.heading{
    font-family: 'Ink free';
    font-weight: bold;
    color: #4d004d;
    
}

.notes-container{
    background-color: #ffffff;
    border-radius: 15px;
    padding: 15px;
    min-height: 71vh;
}

.heading-container{
    display: flex;
    align-items: center;
}

.title-name{
    width: 230px;
    color: #330000;
    font-family: 'roboto';
    padding-left: 10px;
}

.unordered-list{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-left: 0px;
}

.loader-container{
    height: 90vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

.empty-container{
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.empty-image{
    width: 300px;
}

.empty-text{
    font-family: 'ink free';
    color: rgb(158, 28, 119);
    font-size: 20px;
    font-weight: bold;

}

.archive-row-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
}